button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #07f0fc;
  border-radius: 100px;
  width: 50px;
}

.formula {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  [type="text"] {

    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e91313;
    border-radius: 100px;
    border-color: rgb(254, 4, 4);
  }



}


.abc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.central {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

h4 {
  width: 900px;
}

.tito {
  text-align: center;
  font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}

body {
  background-color: rgb(137, 219, 150);
  margin: 0;
  padding: 0;

}

.navbar {
  background-color: #333;
  padding: 5;
  margin: 0;
}

.nav-list {
  list-style: none;

}

.nav-list li {
  display: inline;
  margin-right: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #07fcc7;
  font-weight: bold;
}

.nav-list li a:hover {
  color: orange
    /* Altere esta cor para a cor desejada ao passar o mouse */
  ;
  transition: 0.5s all;
  position: relative;
  height: 50px;
  top: -5px;
}

.textorelativo h2:hover {

  position: relative;
  height: 50px;
  opacity: 1;
  transition: 0.9s all;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9191917e;
  height: 160px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

img {
  height: 400;
  width: 500;
  border: 2px solid #07fcc7;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(43, 174, 184, 0.836);
}

.textorelativo {

  position: relative;
  border-radius: 5px;
  transition: 0.9s all;
  opacity: 0;
  display: flex;
  justify-content: center;
}

.textorelativo:hover {
  opacity: 1;

}